body{
    background-image: url('images/hank1.jpg');
    background-size: cover;
}
.flex-container1{
    display:block;
}
.flex-container2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.flex-item{
    padding:10px;
    border:1px solid white;
    margin:5px;
}